{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CaosNews Perfil</title>
  <link  rel="icon"   href="{% static 'core/img/400dpiLogo.png' %}" type="image/png" />
  <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
  <script language="javascript" type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>

  <style>
    li{
      margin-left: 5px;
    }
    body{
      background-color: #bdbdbd;
    }
    footer{
      background-color: #797979;
      height: 100px;
      position: bottom;
      bottom: 0;
      height: 30%;
    }
  </style>
</head>
<body>
  
  <div class="container-fluid">
      <header class="row">
        <header class="col">          
          <!--aquí empieza ventana emergente REGISTRARSE-->
          <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#ventanaModal1" style="float: right;">Cerrar sesion</button>
          
          <div class="modal" id="ventanaModal1" tabindex="1" role="dialog" aria-labelledby="tituloVentana1" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 id="tituloVentana1">Está seguro?</h5>
                  <button class="close" data-dismiss="model" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                  </button>

                </div>
                  
                <div class="modal-footer">
                  <a class="btn btn-primary" href="xd.html" role="button" style="background-color: red;">Aceptar</a>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">
                    Cancelar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--aquí termina ventana emergente-->

          <br/>
          <div class="container">
            <section class="row">
              <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'core/img/400dpiLogo.png' %}" class="zoom" id="logo" style="height: 130px; width: 200px" alt="Logo Caos"></a>
              <div class="col">
                <br/>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button type="button" class="btn btn-secondary" style=" margin-left: 5px;">Buscar</button>
              </form>
            </section>
          <br/>
        </header>
      </header>
      
      <div class="row" style="background-color: #383c44;">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-dark  bg-dark ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" style="margin: 0%;">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'politica' 1%}">Política</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'politica' 2%}">Economía</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'politica' 3%}">Deportes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'politica' 4%}">Espectáculo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'politica' 5%}">Mundo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'politica' 6%}">Empresas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'politica' 7%}">Regionales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'periodistas' %}">Periodistas</a>
                </li>
                <div style="float: right;">
                  <img src="{% static 'core/img/logo-instagram-3238899_640.png' %}" alt="" width="10%" style="float: right; padding-right: 1%;padding-bottom: 1%;">
                  <img src="{% static 'core/img/facebook.png' %}" alt="" width="10%" style="float: right; padding-right: 1%;padding-bottom: 1%;">
                  <img src="{% static 'core/img/twitter-gris.png' %}" alt="" width="10%" style="float: right; padding-right: 1%;padding-bottom: 1%;">
                </div>
              </ul>
            </div>
          </nav>
        </div> 
         
      </div>  

      

      <div class="row">
       
        <div class="col-2" style="background-color: white; ">
        </br>
          <h5 style="margin: 3%;">Reportero especializado de política y economía</h5>
          <hr class="my-4">
          <h6 style="margin: 10%;">Valparaíso</h6>
          <h6 style="margin: 10%;">Inició el 02/03/2016</h6>
          <h6 style="margin: 10%;">Titulado en periodismo</h6>
          <h6 style="margin: 10%;">Who that boy</h6>

          <hr class="my-4">

          <img src="{% static 'core/img/didi.png' %}" alt="" style="margin: 10% 10% 10% 10%; width: 70%;">
          <a href="" style="margin-left: 10%;">www.didi.cl</a>
          <hr class="my-4">
          <img src="{% static 'core/img/coca.png.png' %}" alt="" style="margin: 10% 10% 10% 10%; width: 70%;">
          <a href="" style="margin-left: 10%;"><p>www.coke.cl</p></a>
          
        </div>
        <div class="col-10">
          <div>
            <table class="table table-hover" >
              {%for pe in perfil%}
              <div class="col-11" style="margin-left: 2%;background-color: #bdbdbd;float: left;">
                <div class="jumbotron"style="background-color: white;">
                  <h1 class="display-4">{{pe.nombre}}</h1>
                  <hr class="my-4">
                  <p class="lead">{{pe.email}}</p>
                  <br>
                    
                </div>
              </div>
              <br>
              {% endfor %}
            </table>
          </div>
          <div class="col" data-spy="scroll" style="float: left;background-color: #bdbdbd;">
          <table class="table table-hover" >
            {%for ve in publicaciones%}
            <div class="col-11" style="margin-left: 2%;background-color: #bdbdbd;float: left;">
              <div class="jumbotron"style="background-color: white;">
                <h2 class="display-4">{{ve.titulo}}</h2>
                <hr class="my-4">
                <p class="lead">{{ve.lead}}</p>
                <p>Para continuar leyendo haga click a continuación</p>
                <br>

                <a class="btn btn-danger btn-lg" href="{% url 'noticia' ve.id %}" role="button">Leer mas</a>
                <a class="btn btn-danger btn-lg" href="{% url 'modificar' ve.id %}"  role="button">Modificar</a>
                <a class="btn btn-danger btn-lg" href="{% url 'eliminar' ve.id %}" role="button">Eliminar</a>
                
              </div>
            </div>
            <br>
            {% endfor %}
          </table>

          
        </div>


        </div>
       
        
      </div>
      

      
      
      
      

      <footer class="row">
        <footer class="col-4">
          <img src="{% static 'core/img/400dpiLogo.png' %}" style="height: 90%; width: 70%;">
        </footer>
        <footer class="col-4" style="margin-top: 2%;">
          <a href="{% url 'contacto' %}"  style="color: rgb(241, 241, 241);"><h5>Contacto</h5></a>
          <a href="" style="color: rgb(241, 241, 241);"><h5>Términos y condiciones</h5></a>
          <a href="" style="color: rgb(241, 241, 241);"><h5>Política de privacidad</h5></a>
          <a href="" style="color: rgb(241, 241, 241);"><h5>Tarifas de publicidad</h5></a>
        </footer class="col-4" style="background-color: green;">

        <footer class="col-4"style="margin-top: 2%; ">
          <h6 style="margin-left: 30%">Llámanos: +569458467</h6>
          <h6 style="margin-left: 30%">CaosNews@contacto.com</h6>
          <h6 style="margin-left: 30%">© 2021 Caos News</h6>
        </footer>

      </footer>
  </div>
  <script src="{% static 'core/js/jquery-3.6.0.js' %}"></script>
  <script src="{% static 'core/js/popper.js' %}"></script>
  <script src="{% static 'core/js/bootstrap.js' %}"></script>
  <script src="{% static 'core/popup.js' %}"></script>
  <script src="{% static 'core/js/script.js' %}"></script>
  <script src="{% static 'core/js/validacion.js' %}"></script>
  <script src="{% static 'core/js/validacion - iniciosesion.js' %}"></script>
</body>
</html>