{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CaosNews Politica</title>
  {% bootstrap_css %}

  <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
  <link  rel="icon"   href="{% static 'core/img/400dpiLogo.png' %}" type="image/png" />

  <style>
    li{
      margin-left: 5px;
    }
    body{
      background-color: #bdbdbd;
    }
    footer{
      background-color: #797979;
      height: 100px;
      position: bottom;
      bottom: 0;
      height: 30%;
    }
  </style>
</head>
<body>
  
  <div class="container-fluid">
      <header class="row">
        <header class="col">          
          <!--aquí empieza ventana emergente REGISTRARSE-->
          <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#ventanaModal1" style="float: right;">Cerrar sesion</button>
          
          <div class="modal" id="ventanaModal1" tabindex="1" role="dialog" aria-labelledby="tituloVentana1" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 id="tituloVentana1">Está seguro?</h5>
                  <button class="close" data-dismiss="model" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                  </button>

                </div>
                  
                <div class="modal-footer">
                  <a class="btn btn-primary" href="{% url 'index' %}" role="button" style="background-color: red;">Aceptar</a>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">
                    Cancelar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--aquí termina ventana emergente-->

          <br/>
          <div class="container">
            <section class="row">
              <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'core/img/400dpiLogo.png'%}" class="zoom" id="logo" style="height: 130px; width: 200px" alt="Logo Caos"></a>
              <div class="col">
                <br/>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button type="button" class="btn btn-secondary" style=" margin-left: 5px;">Buscar</button>
              </form>
            </section>
          <br/>
        </header>
      </header>
      
      <div class="row" style="background-color: #383c44;">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-dark  bg-dark ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" style="margin: 0%;">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'politica' 1%}">Política</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'politica' 21%}">Economía</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Deportes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Espectáculo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Mundo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Empresas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Regionales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="CAOS NEWS periodistas.html">Periodistas</a>
                </li>

                <div style="float: right;">
                  <img src="{% static 'core/img/logo-instagram-3238899_640.png'%}" alt="" width="10%" style="float: right; padding-right: 1%;padding-bottom: 1%;">
                  <img src="{% static 'core/img/facebook.png'%}" alt="" width="10%" style="float: right; padding-right: 1%;padding-bottom: 1%;">
                  <img src="{% static 'core/img/twitter-gris.png'%}" alt="" width="10%" style="float: right; padding-right: 1%;padding-bottom: 1%;">
                </div>
                
              </ul>
            </div>
          </nav>
        </div>  
      </div>  


      
    <div class="row">
      <div class="col-8" style="margin-left: 4%;background-color: rgb(255, 255, 255); ">
        </br>


       

        <table class="table table-hover">

          {%for ve in politica%}
          <div class="card mb-3" style="height: 330px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{ ve.foto.url }}" width="100%" style="margin-top: 10%;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" >{{ve.titulo}}</h5>
                  <p class="card-text">{{ve.lead}}</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                    <a class="btn btn-danger" href="{% url 'noticia' ve.id %}" role="button" style="float: right;">Leer mas</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </table>

        <div style="background-color: white;">
          <nav aria-label="Page navigation example" style="background-color: white;">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>

      </div>
      <div class="col-3" style="background-color: white; text-rendering: geometricPrecision;margin-left: 4%;float: right; ">
        </br>
        <div class="card" style="width: 18rem;">
          <img src="{% static 'core/img/im2.jpg'%}" class="card-img-top" alt="..." style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">«El sueldo no me alcanza»: mujer pide su tercer retiro y saca aplausos…</h5>
            <p class="card-text">Esta mañana en «Bienvenidos», en medio de un debate por el tercer retiro del 10% donde...</p>
            <a href="#" class="btn btn-danger">Seguir Leyendo</a>
            <span class="badge badge-secondary">Economía</span>
          </div>
        </div>
        <hr class="my-4">

        <div class="card" style="width: 18rem;">
          <img src="{% static 'core/img/im4.jpg'%}" class="card-img-top" alt="..." style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Tati Penna: El polémico despido del CNTV que golpeó la recta final de una brillante carrera en TV</h5>
            <p class="card-text">Un golpe bajo recibió este miércoles el mundo de la televisión. A sus 61 años, falleció...</p>
            <a href="#" class="btn btn-danger">Seguir Leyendo</a>
            <span class="badge badge-secondary">Espectáculo</span>
          </div>
        </div>

        <img src="{% static 'core/img/didi.png'%}" alt="" style="margin: 10% 10% 10% 10%; width: 90%; ">
        <a href="" style="text-align: center;"><p>www.didi.cl</p></a>
        <hr class="my-4">
        <img src="{% static 'core/img/coca.png.png'%}" alt="" style="margin: 10% 10% 10% 10%; width: 90%; text-align: center;">
        <a href="" style="text-align: center;"><p>www.coke.cl</p></a>
      </div>

    <br>

      <footer class="row">
        <footer class="col-4">
          <img src="{% static 'core/img/400dpiLogo.png'%}" style="height: 90%; width: 70%;">
        </footer>
        <footer class="col-4" style="margin-top: 2%;">
          <a href="{% url 'contacto' %}" style="color: rgb(241, 241, 241);"><h5>Contacto</h5></a>
          <a href="" style="color: rgb(241, 241, 241);"><h5>Términos y condiciones</h5></a>
          <a href="" style="color: rgb(241, 241, 241);"><h5>Política de privacidad</h5></a>
          <a href="" style="color: rgb(241, 241, 241);"><h5>Tarifas de publicidad</h5></a>
        </footer class="col-4" style="background-color: green;">

        <footer class="col-4"style="margin-top: 2%; ">
          <h6 style="margin-left: 30%">Llámanos: +569458467</h6>
          <h6 style="margin-left: 30%">CaosNews@contacto.com</h6>
          <h6 style="margin-left: 30%">© 2021 Caos News</h6>
        </footer>

      </footer>
  </div>
  <script src="{% static 'core/js/jquery-3.6.0.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'core/js/bootstrap.js' %}"></script>
  <script src="{% static 'core/popup.js' %}"></script>
  <script src="{% static 'core/js/script.js' %}"></script>
  <script src="{% static 'core/js/validacion.js' %}"></script>
  <script src="{% static 'core/js/validacion - iniciosesion.js' %}"></script>
  
</body>
</html>